<h1>Name: <%= @attraction.name %></h1>
<p><strong>Name: </strong><%= @attraction.name %></p>
<p><strong>Total Number of Users: </strong> 102</p>
<p><strong>Ticket Requirement: </strong> 2</p>
<p><strong>Height Requirement: </strong> 35 inches</p>
<p><strong>Nausea Rating: </strong> 3</p>
<p><strong>Happiness Rating: </strong> 1</p>